<h2>Eliminar un aeropuerto de la aerolínea</h2>

<div class="row">
<form action="/airport/delete" method="POST">
    <div class="col-md-6 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th>Código IATA</th>
                    <th>Ciudad</th>
                    <th>País</th>
                </tr>
            </thead>
            <tbody>
                {{#each airport2}}
                <div class="airport2">
                <tr>
                    <td><input type="button" name="id" id="id" value={{codigo_iata}} class="btn btn-default form-control"></td>
                    <td>{{ciudad}}</td>
                    <td>{{pais}}</td>
                </tr>
                </div>
                {{else}}
                <tr>No hay aeropuertos aún. Agregue un aeropuerto</tr>
                {{/each}}
            </tbody>
        </table>
    </div>
          
    <div class="col-md-6 card">
        <h3>Seleccione el código IATA del aeropuerto que desea eliminar y presione Aceptar</h3>
        <div>
            <input type="submit" value="Aceptar" class="btn btn-default">
            <a href="/airport" class="btn btn-default" role="button">Volver a Aeropuertos</a>
        </div>
        {{#each text}}
        <div class="text">
          <p>{{text}}</p>
        </div>
        {{/each}}
    </div>
</form>
</div>